
.table-container {
    max-height: 80vh;
    overflow-y: scroll;
}

.order-header {
    background-color: #dddddd;
    cursor: pointer;
    padding: 2px;
}
.order-header:hover {
    cursor: pointer;
    background-color: #577bc9;
}

.order-header.active {    
    background-color: #6b6161;
}

.group-row {
    background-color: #a6c8ec;
    font-weight: bold;
    font-style: italic;
    color:#2c7fe6
}

.alter {
    background-color: #dddddd;
}

.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}